################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HenriksHobbyLager
/HenriksHobbyLager/obj/Debug/net8.0
